html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;

  background-color: #FFFFFF; /* под проект */
  font-family: 'Open Sans', Arial, sans-serif; /* в "" свой шрифт под проект*/

  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 1;
}

button, input {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, p, ul {
  padding: 0;
  margin: 0;
}

/* container */

.container {
  max-width: 1630px; /*под проект*/
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* при работе с float */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.section-header {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 20px;
}
